body {
  margin: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body .error {
  font-size: 10px;
  letter-spacing: 1px;
}

body .error .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.8em;
}

body .error .close .fa-times {
  color: white;
  font-size: 2em;
}

body .error-msg {
  font-size: 10px;
  word-break: break-all;
}

.curvy {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding: 2em;
  overflow: auto;
  border-radius: 8px;
  background: #eff3f5;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: rgba(8, 35, 51, 0.03) 0px 0px 1px, rgba(8, 35, 51, 0.05) 0px 2px 2px;
          box-shadow: rgba(8, 35, 51, 0.03) 0px 0px 1px, rgba(8, 35, 51, 0.05) 0px 2px 2px;
}

.wishlist {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}

.wishlist .request {
  margin-right: -1px;
  margin-bottom: 2em;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  height: 100%;
  width: 100%;
  max-height: 298px;
  position: relative;
  border-radius: 8px;
  background: white;
  width: 100%;
  -webkit-box-shadow: rgba(8, 35, 51, 0.03) 0px 0px 2px, rgba(8, 35, 51, 0.05) 0px 3px 6px;
          box-shadow: rgba(8, 35, 51, 0.03) 0px 0px 2px, rgba(8, 35, 51, 0.05) 0px 3px 6px;
  min-height: 12vh;
}

.wishlist .request .details {
  font-size: 8px;
  padding: 2em;
  color: #8a8a8a;
  font-size: 11px !important;
  line-height: 1.574 !important;
  direction: ltr !important;
  white-space: pre !important;
  word-spacing: normal !important;
  word-break: normal !important;
}

.wishlist .request .vote-container {
  position: absolute;
  bottom: -.5em;
  left: -.5em;
  background-color: #8274ff4b;
  border-radius: .2em;
  display: block;
  min-width: 20px;
  text-align: center;
}

.wishlist .request .vote-container:hover {
  background-color: #8274ff;
  -webkit-transition: 50ms ease-in;
  transition: 50ms ease-in;
}

.wishlist .request .controls {
  position: absolute;
  top: .3em;
  right: .3em;
  background-color: #e7e7e7;
  border-radius: 1em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: .2em;
}

.wishlist .request .controls .close {
  background-color: #fd5750 !important;
}

.wishlist .request .controls .expand {
  background-color: #2cb673 !important;
}

.wishlist .request .button {
  cursor: pointer;
  border-radius: 2em;
  margin: .1em;
  padding: .1em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: .5em;
  width: .5em;
  background-color: white;
}

.wishlist .request .button:hover {
  color: multiply;
}

.wishlist .request .v-button {
  cursor: pointer;
  width: 100%;
  display: block;
  padding: .2em;
  height: 50%;
  color: white;
  font-size: .6em;
}

.wishlist .request .v-button:hover {
  color: #4b4b4b;
  -webkit-transition: 50ms ease-in;
  transition: 50ms ease-in;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/*# sourceMappingURL=index.css.map */